// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

@import "~@coreui/icons/css/brand.min.css";
@import "~@coreui/icons/css/free.min.css";
@import "~font-awesome/scss/font-awesome";
@import "~flag-icon-css/css/flag-icon.min.css";

// If you want to add something do it here
@import "custom";

//Variable based custom css
.bg-header-dark {
    background-color: $header-dark-bg !important;
}

.text-header-dark {
    color: $header-dark-bg !important;
}

.btn-header-dark {
    background-color: $header-dark-bg !important;
    color: $white !important;
}

.btn-header-normal {
    background-color: $header-normal-bg !important;
    color: $white !important;
}

.font-xs {
    font-size: $font-xs !important;
}

.disabled {
    pointer-events: none !important;
    color: $gray-300 !important;
}
