// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";
@import "~font-awesome/scss/font-awesome";
@import "~flag-icon-css/css/flag-icon.min.css";

// If you want to add something do it here
@import "custom";


//Variable based custom css
.font-xs {
    font-size: $font-xs !important;
}

.disabled {
    pointer-events: none !important;
    color: $gray-300 !important;
}