<div class="row p-3" style="background-color: #fff;min-height: 75vh;">
    <div class="col-4 pl-0">
        <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
                <tr>
                    <th>Vendor</th>
                    <th>Referral Code</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="font-weight-bold">Cred</td>
                    <td>
                        <a href="https://cred.onelink.me/spQx/375c1f58" target="_blank">
                            <strong>https://cred.onelink.me/spQx/375c1f58</strong>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Mobikwik</td>
                    <td>
                        <strong>XXXXXXXXX</strong>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold">True Balance</td>
                    <td>
                        <strong>2P6NAFFC</strong>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-8">
        <ng-contaner *ngTemplateOutlet="credInfo"></ng-contaner>
    </div>
</div>
<ng-template #credInfo>
    <div class="alert alert-success mb-0" role="alert">
        <h4 class="alert-heading">CRED</h4>
        <p class="mt-4">CRED tagged as the “most rewarding Credit card payment app ever” indeed stands by the tag.
            CRED partnered with brands like BMS, Uber, Amazon, etc. to give unmatched rewards, experiences and
            upgrades every month. It's definitely a benefit to pay credit card bills via CRED..</p>
        <p> Here's the referral link from where you get INR 150 voucher on UBER: (there's no referral code as
            such, install from the following link)</p>
        <a href="https://cred.onelink.me/spQx/375c1f58" target="_blank"> https://cred.onelink.me/spQx/375c1f58 </a>
        <br><br>
        <hr>
        <p class="mb-0">
            <strong>Note:</strong> <br> You will get equal CRED points of your credit score. Means if your credit
            score is 600 then you will get 600 points. And if you will refers some one then you will get
            Uber 150rs voucher. And if you will refers three persons then you will get 750 Amazon voucher.
        </p>
    </div>
</ng-template>