<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-header-dark" *ngIf="!isUserLoggedIn">
    <a class="navbar-brand" href="#">
        <img src="assets/images/logo/kds_xs_transperant.png" alt="No Image">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="text-center w-100 text-truncate d-md-down-none" id="navbarText">
        <blockquote class="blockquote mb-0" *ngIf="quote.text">
            <p class="mb-0 text-warning font-weight-bold fs-60">{{quote.text}}</p>
            <footer class="blockquote-footer text-warning">
                <cite class="font-weight-bold small">{{quote.author}}</cite>
            </footer>
        </blockquote>
    </div>
    <div class="collapse navbar-collapse mr-5">
        <ul class="navbar-nav">
            <li class="nav-item" [class.active]="activeModule == 'home'" (click)="goToHome()">
                <a class="link nav-link">Home</a>
            </li>
            <li class="nav-item" [class.active]="activeModule == 'utils'" (click)="goToUtilities()">
                <a class="link nav-link">Utilities</a>
            </li>
            <li class="nav-item" [class.active]="activeModule == 'referral-codes'" (click)="goToReferrals()">
                <a class="link nav-link">Referrals</a>
            </li>
        </ul>
    </div>
</nav>

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-header-dark" *ngIf="isUserLoggedIn">
    <a class="navbar-brand" href="#">
        <img src="assets/images/logo/kds_xs_transperant.png" alt="No Image">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="text-center w-100 text-truncate d-md-down-none" id="navbarText">
        <blockquote class="blockquote mb-0" *ngIf="quote.text">
            <p class="mb-0 text-warning font-weight-bold fs-60">{{quote.text}}</p>
            <footer class="blockquote-footer text-warning">
                <cite class="font-weight-bold small">{{quote.author}}</cite>
            </footer>
        </blockquote>
    </div>
    <div class="collapse navbar-collapse mr-5">
        <ul class="navbar-nav">
            <li class="nav-item" [class.active]="activeModule == 'home'" (click)="goToHome()">
                <a class="link nav-link">Home</a>
            </li>
            <li class="nav-item" [class.active]="activeModule == 'utils'" (click)="goToUtilities()">
                <a class="link nav-link">Utilities</a>
            </li>
            <li class="nav-item" [class.active]="activeModule == 'referral-codes'" (click)="goToReferrals()">
                <a class="link nav-link">Referrals</a>
            </li>
        </ul>
    </div>
</nav>
<app-notifications></app-notifications>