<div class="row p-3" style="background-color: #fff;min-height: 75vh;">
    <div class="col-4 pl-0">
        <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
                <tr>
                    <th>Vendor</th>
                    <th>Referral Code</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="font-weight-bold">Cred</td>
                    <td>
                        <a href="https://cred.onelink.me/spQx/375c1f58" target="_blank">
                            <strong>https://cred.onelink.me/spQx/375c1f58</strong>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Paytm</td>
                    <td>
                        <strong>************</strong>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Mobikwik</td>
                    <td>
                        <strong>YT9K4B</strong>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Amazon</td>
                    <td>
                        <strong>************</strong>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Payzap</td>
                    <td>
                        <strong>tak2ashok</strong>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold">True Balance</td>
                    <td>
                        <strong>2P6NAFFC</strong>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Airtel</td>
                    <td>
                        <strong>************</strong>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Jio</td>
                    <td>
                        <strong>************</strong>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Free Charge</td>
                    <td>
                        <strong>************</strong>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Oxygen Wallet</td>
                    <td>
                        <strong>************</strong>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-8">
        <ng-container *ngTemplateOutlet="credInfo"></ng-container>
    </div>
    <hr>
</div>

<ng-template #credInfo>
    <div class="card alert-success-card">
        <div class="card-header alert-success-card-header d-flex align-items-center font-weight-bold px-2 py-2">
            <div class="w-75 h4 mb-0">CRED</div>
            <div class="w-25">
                <a class="mr-1 pull-right">
                    <i class="c-icon c-icon-xl cib-google-play"></i>
                </a>
                <a class="mr-1 pull-right">
                    <i class="c-icon c-icon-xl mr-3 cib-apple"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <p>
                <span class="badge badge-pill badge-primary mr-2 p-2">
                    <strong>Credit card bill Payment</strong>
                </span>
                <span class="badge badge-pill badge-primary mr-2 p-2">
                    <strong>Rent pay from Credit Card</strong>
                </span>
                <span class="badge badge-pill badge-primary mr-2 p-2">
                    <strong>Instant loan in Covid-19 Situation</strong>
                </span>
            </p>
            <hr>
            <p class="font-weight-bold">
                CRED is a members only credit card bill payment platform that rewards its members for clearing their
                credit card bills on time. CRED members get access to exclusive rewards and experiences from premier
                brands upon clearing their credit card bills on CRED.
            </p>
            <!-- <hr> -->
            <p class="font-weight-bold">
                Every time you pay your credit card bill on CRED, you earn CRED coins equivalent to the amount of your
                credit card bill cleared on CRED. The CRED coins earned can be used to claim shopping rewards, travel
                rewards and dining rewards. Some of the offers include:
            </p>
        </div>
    </div>
</ng-template>