<div class="row mt-4" style="background-color: #fff;min-height: 70vh;">
    <!-- <div class="col-12 my-3" style="padding-left: 40%;">
        <div class="btn-group" btnRadioGroup [(ngModel)]="uncheckableRadioModel">
            <label class="btn btn-info" btnRadio="statistics" uncheckable tabindex="0" role="button">Statistics</label>
            <label class="btn btn-info" btnRadio="countries" uncheckable tabindex="0" role="button">Countries</label>
            <label class="btn btn-info" btnRadio="history" uncheckable tabindex="0" role="button">History</label>
        </div>
        <div class="input-group ml-5">
            <input class="form-control" type="text" placeholder="Input group example" aria-label="Input group example"
                aria-describedby="btnGroupAddon">
            <button class="btn btn-sm btn-success pull-right ml-1" type="submit" (click)="getDetails()">Submit</button>
        </div>
    </div> -->

    <div class="col-12 my-2">
        <div class="row">
            <div class="col-xs-6 col-md-4 col-lg-3 col-xl-2" *ngFor="let result of covidResults | sortBy: 'asc':'country'">
                <div class="card">
                    <div class="card-body p-2 d-flex align-items-center">
                        <div class="mfe-3">
                            <span class="flag-icon" [ngClass]="getFlagClass(result.country)" style="font-size: 40px;"></span>
                        </div>
                        <div class="text-truncate">
                            <div class="text-value text-info">{{result.casesData.totalCases}} Cases</div>
                            <div class="text-muted font-weight-bold small text-truncate">{{result.country}}</div>
                        </div>
                    </div>
                </div>
                <alert class="d-block" type="danger" *ngIf="!covidResults.length" style="padding-left: 50%;">
                    <strong>Something went wrong!</strong> &nbsp;&nbsp;Please
                    <a class="alert-link" href="#">Click Here</a> to reload.
                </alert>
            </div>
        </div>
    </div>
</div>