<div class="row content-wrapper">
    <article>
        <h1>TRUE BALANCE Referral</h1>

        <p class="mt-4">TRUE BALANCE tagged as the “most rewarding utility bill payment app ever” indeed stands by the
            tag.It's definitely a benefit to pay utility bills via TRUE BALANCE..<br>
            TRUE BALANCE has many benefits to checkout like Gift Cards, wallet to bank transfer.
        </p>

        <p> Apart from utility bill payments, True Balance provides many other benefits like...<br><br>
            1. Provides loan upto 100000.<br>
            2. Cheapest Money Transfer from Credit card to Bank Account with a flat fee of 3%.<br>
            3. If you use TRUE BALANCE with a group user. Rewards on bill payments will become even
            more.<br>
        </p> <br>

        <a> <strong> Note: True Balance Referral code - 2P6NAFFC </strong> </a>
    </article>
</div>