<div class="row mt-4" style="background-color: #fff;min-height: 70vh;">
    <div class="offset-1 col-4">
        <div class="card my-5 px-3">
            <div class="card-header">
                Calculate Love Percentage
            </div>
            <div class="card-body">
                <form [formGroup]="form">
                    <div class="form-group">
                        <div class="text-danger">
                            <span>* calculation is purely based on API from</span>
                            <a href="https://www.facebook.com/codzztech"> codzztech </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="boyname">First Person Name<em>*</em></label>
                        <input class="form-control" id="boyname" formControlName="boyname" type="text"
                            [ngClass]="{'is-invalid' : formErrors.boyname}">
                        <div class="invalid-feedback" *ngIf="formErrors.boyname">{{formErrors.boyname}}</div>
                    </div>
                    <div class="form-group">
                        <label for="girlname">Second Person Name<em>*</em></label>
                        <input class="form-control" id="girlname" formControlName="girlname" type="text"
                            [ngClass]="{'is-invalid' : formErrors.girlname}">
                        <div class="invalid-feedback" *ngIf="formErrors.girlname">{{formErrors.girlname}}</div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-success pull-right ml-1" (click)="calculate()"
                    type="submit">Submit</button>
                <button class="btn btn-sm btn-danger pull-right" (click)="buildForm()" type="button">Clear</button>
            </div>
        </div>
    </div>
    <div class="offset-1 col-5">
        <div class="alert alert-secondary my-5" role="alert" *ngIf="!result.fname">
            <p>1. Provide Boy's name and Girl's name.</p>
            <p>2. Click on submit.</p>
            <p>3. Result will be displayed on right side of form.</p>
            <p>4. Click on clear to reset the form.</p>
        </div>

        <alert class="d-block my-5" [type]="getClass()" *ngIf="result.fname">
            <h4 class="alert-heading">Results based on Provided Names</h4>
            <p class="mt-4">First Person Name : {{result.fname}}</p>
            <p>Second Person Name : {{result.sname}}</p>
            <p class="font-weight-bold">Percentage Match : {{result.percentage}}</p>
            <p class="font-weight-bold"><cite>Match Result : {{result.result}}</cite></p>
        </alert>
    </div>
</div>