<app-header></app-header>
<div class="container-fluid app-body">
    <div class="row">
        <div class="col-2 mt-4" *ngFor="let promotionType of promotionsTypes; let i = index">
            <div class="card overflow-hidden equalize-card" (click)="getRelatedReferrals(promotionType)">
                <div class="card-body p-4 d-flex align-items-center">
                    <div>
                        <div class="text-value text-uppercase text-primary">{{promotionType.displayName}}</div>
                        <div class="text-muted text-uppercase font-weight-bold small">{{promotionType.vendors}} vendors</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>