<div class="row content-wrapper">
    <article *ngIf="isCred">
        <h1>CRED References</h1>
        <p class="mt-4">CRED tagged as the “most rewarding Credit card payment app ever” indeed stands by the tag. CRED
            partnered
            with brands like BMS, Uber, Amazon, etc. to give unmatched rewards, experiences and upgrades every
            month.
            It's definitely a benefit to pay credit card bills via CRED..</p>
        <p> Here's the referral link from where you get INR 150 voucher on UBER: (there's no referral code as
            such, just
            install from the following link)</p>

        <a href="https://cred.onelink.me/spQx/375c1f58"> https://cred.onelink.me/spQx/375c1f58 </a>
        <br><br>
        <strong>Note:</strong> You will get equal CRED points of your credit score. Means if your credit score
        is 600 then you will get 600 points. And if you will refers some one then you will get Uber 150rs
        voucher. And if you will refers three persons then you will get 750 Amazon voucher.
    </article>

    <article *ngIf="isTrueBalance">
        <h1>TRUE BALANCE Referral</h1>

        <p class="mt-4">TRUE BALANCE tagged as the “most rewarding utility bill payment app ever” indeed stands by the
            tag.It's definitely a benefit to pay utility bills via TRUE BALANCE..<br>
            TRUE BALANCE has many benefits to checkout like Gift Cards, wallet to bank transfer.
        </p>

        <p> Apart from utility bill payments, True Balance provides many other benefits like...<br><br>
            <strong>1. Provides loan upto 100000.</strong><br>
            <strong>2. Cheapest Money Transfer from Credit card to Bank Account with a flat fee of 3%.</strong><br>
            <strong>3. If you use TRUE BALANCE with a group user. Rewards on bill payments will become even
                more.</strong><br>
        </p> <br>

        <strong>Note:</strong> <a> True Balance Referral code - 2P6NAFFC </a>
    </article>
</div>