<app-header class="header"></app-header>
<div class="container-fluid app-body">
    <div class="row">
        <div class="col">
            
        </div>
        <div class="col-7 app-content pt-4">
            <article>
                <h1>CRED References</h1>
                <p class="mt-4">CRED tagged as the “most rewarding Credit card payment app ever” indeed stands by the tag. CRED
                    partnered
                    with brands like BMS, Uber, Amazon, etc. to give unmatched rewards, experiences and upgrades every
                    month.
                    It's definitely a benefit to pay credit card bills via CRED..</p>
                <p> Here's the referral link from where you get INR 150 voucher on UBER: (there's no referral code as
                    such, just
                    install from the following link)</p>

                <a href="https://cred.onelink.me/spQx/375c1f58"> https://cred.onelink.me/spQx/375c1f58 </a>
            </article>

            <p class="mt-4">
                <strong>Note:</strong> You will get equal CRED points of your credit score. Means if your credit score
                is 600 then you will get 600 points. And if you will refers some one then you will get Uber 150rs
                voucher. And if you will refers three persons then you will get 750 Amazon voucher.
            </p>
        </div>
        <div class="col-3">
            
        </div>
    </div>
</div>