/* You can add global styles to this file, and also import other style files */
body, .body {
  background-color: #f4f3ef;
}

.content-wrapper {
  padding: 20px;
  background-color: #fff;
  height: 100%;
}

.popover-content.popover-body {
  padding: 0px !important;
}

.link {
  cursor: pointer;
}

.fs-60{
  font-size: 60% !important;
}

#sourceTexthtmlcontent {
  background-color: #fff !important;
}
